<!DOCTYPE html>
<html lang="pt-br">
<head>
    @model InputLoginUser
    @{
        Layout = "_LayoutLoggedOut";
        ViewData["Title"] = "Login";
    }
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <main class="login-wrapper">
        <section class="login-left">
            <img src="~/img/imagem_login.png" alt="Logo da Empresa" class="logo">
        </section>
        <section class="login-right">
            <h1 class="login-right-titulo">Cabeleleila Leila</h1>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    <button type="button" class="btn btn-success btn-sm close-alert-success" data-bs-dismiss="alert" arial-label="Close">X</button>
                    @TempData["SuccessMessage"]
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="btn btn-danger btn-sm close-alert-error" data-bs-dismiss="alert" aria-label="Close">X</button>
                    @TempData["ErrorMessage"]
                </div>
            }
            <div class="login-card">
                <h2>Login</h2>
                <form asp-controller="Login" class="form-container" asp-action="Login" method="post">
                    <div class="input-group">
                        <label for="email" name="email">Email</label>
                        <input type="email" asp-for="Email" id="email" placeholder="Informe seu email">
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-group">
                        <label for="password" name="password">Senha</label>
                        <div class="input-group">
                            <input type="password" asp-for="Password" class="form-control" id="password" placeholder="Informe a senha">
                            <button class="input-group-showPassword" type="button" id="showHidePassword">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                        </div>
                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                    </div>
                    <p>
                        Esqueceu sua senha?
                        <a asp-action="SendLinkToRedefinePassword" asp-controller="Login">Redefinir senha</a>
                    </p>

                    <div class="button-group">
                        <button type="submit" class="btn">Logar</button>
                        <a asp-action="Register" asp-controller="Login" class="btn register-btn">Cadastrar</a>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
</html>