<!DOCTYPE html>
<html lang="pt-br">
<head>
    @model InputSendLinkToRedefinePasswordUser
    @{
        Layout = "_LayoutLoggedOut";
        ViewData["Title"] = "Redefinir senha";
    }
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <main class="login-wrapper">
        <section class="login-left">
            <img src="~/img/imagem_login.png" alt="Logo da Empresa" class="logo">
        </section>
        <section class="login-right">
            <h1 class="login-right-titulo">Cabeleleila Leila</h1>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    <button type="button" class="btn btn-success btn-sm close-alert-success" data-bs-dismiss="alert" arial-label="Close">X</button>
                    @TempData["SuccessMessage"]
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="btn btn-danger btn-sm close-alert-error" data-bs-dismiss="alert" aria-label="Close">X</button>
                    @TempData["ErrorMessage"]
                </div>
            }
            <div class="login-card">
                <h2>Login</h2>
                <form asp-controller="Login" asp-action="SendLinkToRedefinePassword" method="post">
                    <div class="input-group">
                        <label for="email" name="email">Email</label>
                        <input type="email" asp-for="Email" id="email" placeholder="Informe seu email" required>
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="button-group">
                        <button type="submit" class="btn">Enviar email</button>
                        <a asp-action="Index" asp-controller="Login" class="btn register-btn">Voltar ao Login</a>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
</html>