* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.register-left {
    flex: 1;
    padding: 60px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-left-titulo {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

.register-right {
    background-color: #ECA02D;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-right .logo {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}

.register-card {
    background-color: #f5f5f5;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.input-group {
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}

.input-group-wraper {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.input-group input:focus {
    border-color: #007bff;
}

.input-group-showPassword {
    width: 15%;
    background-color: #ECA02D;
    border: none;
}

    .input-group-showPassword:hover {
        background-color: orange;
    }

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.btn {
    width: 48%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.register-btn {
    background-color: #28a745;
}

.register-btn:hover {
    background-color: #218838;
}

.field-validation-error {
    color: red;
    font-size: 12px;
}

.close-alert {
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    border: none;
    background-color: red;
}

@media (max-width: 768px) {
    .register-wrapper {
        flex-direction: column;
        height: 100%;
    }

    .register-right {
        display: none;
    }

    .register-left {
        flex: 1;
        padding: 20px;
        width: 100%;
        height: 100vh;
    }

    .input-group input {
        padding: 10px;
    }

    .btn {
        padding: 10px;
    }
}