.offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.disabled-link {
    pointer-events: none;
    color: #6c757d;
    cursor: not-allowed;
    opacity: 0.65;
    text-decoration: none;
}