.field-validation-error {
    color: red;
    font-size: 12px;
}

.close-alert {
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.home {
    background-image: url("../image/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.table-container {
    display: flex;
}

    .table-container table {
        flex: 1;
        margin-right: 50px;
    }

        .table-container table thead {
            background-color: #90EE90;
        }