@model OutputUser

<nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow mb-3 teste" style="background-color: #ECA02D;">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-weight: 600;" href="#">Cabeleleila Leila</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link text-truncate" style="color: black; font-size: 20px;">
                        <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Scheduling" asp-action="Index" class="nav-link text-truncate" style="color: black; font-size: 20px;">
                        <i class="fs-5 bi bi-calendar-check"></i><span class="ms-1 d-none d-sm-inline">Agendamentos</span>
                    </a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="userMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Olá, @Model.Name
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuLink">
                        <li>
                            <a asp-area="" asp-controller="Login" asp-action="RedefinePassword" class="dropdown-item" style="color: black;">Redefinir Senha</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Login" asp-action="Exit" class="dropdown-item" style="color: black;">Sair</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>